img{
    width: 400px;
}
body{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 89, 0);
    color: rgb(229, 255, 0);
}